<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GCManagementApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GCManagementApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GCManagementApp.Properties.Settings>
            <setting name="PerformanceMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastHeroesSortOrder" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastAccessoriesSortOrder" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEquipmentSortOrder" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppOpenInMins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="VulcanusVerticalPlanner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmulatorIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="EmulatorPort" serializeAs="String">
                <value>5615</value>
            </setting>
            <setting name="InstanceName" serializeAs="String">
                <value>BlueStacks instance</value>
            </setting>
            <setting name="DifferentDpiBehavior" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="SwipeGap" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Algorithm" serializeAs="String">
                <value>0</value>
            </setting>
        </GCManagementApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GCManagementApp.Properties.Settings>
            <setting name="UpdateCheckEndpoint" serializeAs="String">
                <value>https://raw.githubusercontent.com/Divv10/GrandChase-ManagementApp-Releases/main/appcast.xml</value>
            </setting>
        </GCManagementApp.Properties.Settings>
    </applicationSettings>
</configuration>